@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
/*agregue una font pero si quieren la pueden cambiar*/
body{
    background-color: rgb(197, 128, 231);
    list-style: none;
    text-decoration: none;
    font-family: 'Secular One', sans-serif;
    padding: 0%;
}
/*header*/
header{
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
ul{
    width: 20% ;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-left: 0px;
    align-items: flex-end;
    list-style: none;
}
.botonesHeader{
    padding: 2px;
    border: 2px;
    margin: 2px;
    color: rgba(53, 52, 52, 0.726);
}
.botonesHeader:hover{
    background-color: rgb(221, 162, 250);
    border-radius: 5px;
}
a{
    text-decoration: none;
}
img{
    width: 100px;
    height: 100px;
}

/*main*/
.grupoPreg {
    width: 65%;
    padding: 10px;
    border: 1px;
    margin: 3px;
    align-items: center;
    background-color: rgba(117, 24, 163, 0.377);
    display: flex;
    flex-flow: column nowrap;
    letter-spacing: 0.3px; /*hay que ver cuando lo completemos como queda*/
    margin: 50px 50px 30px 200px;
}
.copy{
    text-align: center;
}

.footerRedes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgba(53, 52, 52, 0.726);
}
.footerRedes:hover {
    background-color: rgb(221, 162, 250);
    border-radius: 5px;
    
}

.direccion{
    display:flex;
    flex-direction: column;
    align-items: center;
}
p.footer {
    letter-spacing: 8em;
}

