@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&family=Shizuru&display=swap');

body {  
    background: linear-gradient(#9697d8, #6e7db1);
    font-weight: 800; 
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    
} 

h1 {
    color: #0096c7;
    text-align: center;
    text-transform: initial;
    letter-spacing: 15px;
    text-decoration-line: underline ;
    text-overflow: ellipsis;
    font-family: 'Shizuru', cursive;
    background-color: #4c4c53; /* quedo horrible pero mi idea seria alinearlo solo atras de las palabras */
    
}

span {   
    color: #0096c7;
    text-transform: capitalize;
    line-height: 20px;
    background-color: #28384c;
    font-family: 'Shippori Antique B1', sans-serif;


}

p {
    color: #08242a;
    text-indent: 20px;
    text-shadow: 1px 1px 1px;
    line-height: 20px;
}

h2 {
    color: #042044;
    text-decoration: underline;
    size: 40px;
}
h3 {
    text-transform: uppercase ;
    text-decoration: underline;

}

.italica {
    font-size: 20px;
    color: #05272e;
    text-shadow: 0.5px 0.5px 1px;

    
}

a {
    text-indent: 30px;
    text-decoration: none ;
    text-transform: capitalize ;
    letter-spacing: 3px;
    word-spacing: 5px;
    background-color: #28384c;
    color: #0096c7;
}
strong {
    font-size: medium;
    color: #1f416c;
    font-style: oblique;
}
small {
    text-indent: 20px ;
    background-color: #0c81e7;
    font-family: 'Shizuru', cursive;
} 


